
.imgcard-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.iconimage{
  display: flex;
  justify-content: center;
  object-fit: contain;

}

.iconimagelogo{
    width: 30px;
    height: 30px;

}
.popover-body {
    background-color: #F5F9FF
    
}

.card-main{
    margin-bottom:15rem;
}
@media (max-width: 767px) {

.heading-aboutus{
text-align: center;
}
}